.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contactWrapper {
    display: flex;
    flex-direction: row;
}

.contact-text {
    display: flex;
    justify-content: center;
}

.contact-header {
    display: flex;
    justify-content: center;
}