.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contactWrapper {
    height: 200px;
    width: 450px;
}

.contact-text {
    display: flex;
    justify-content: center;
}

.contact-header {
    display: flex;
    justify-content: center;
}